/// Breakpoints/tweakpoints manager
/// @param {String} $point - Breakpoint/tweakpoint name
/// http://www.sitepoint.com/breakpoints-tweakpoints-sass/
$screen-xs: '480px';
$screen-sm: '768px';
$screen-md: '992px';
$screen-lg: '1200px';

$breakpoints: (
	'mini' : $screen-xs,
  	'small'  : $screen-sm,
  	'medium' : $screen-md,
  	'large'  : $screen-lg,
) !default;

@mixin respond-to($point) {
	@if map-has-key($tweakpoints, $point) {
		@media (max-width: map-get($tweakpoints, $point)) {
			@content;
		}
	} 
	@else if map-has-key($breakpoints, $point) {
		@media (max-width: map-get($breakpoints, $point)) {
			@content;
		}
	} @else 
	{
		@warn "Could not find `#{$breakpoint}` in both local ($tweakpoints) and global ($breakpoints) contexts. Media block omitted.";
	}
}