// Require helpers
@import 'helpers';

.hc-welcome-actions {
	padding-top: 90px;
	padding-bottom: 90px;
	background: transparent url('/assets/images/home/slides/lifestyle.jpg') top left no-repeat;
	background-size: cover;
	color: white;
}

.home-welcome {
	background: transparent url('/assets/images/home/welcome-bg.jpg') top left no-repeat;
	background-size: cover;
	padding-top: 7rem;
	padding-bottom: 7rem;
	
	.hw-inner {
		h4 {
			color: $blue-green-lt;
			font-family: $font-lato;
		}
		
		h2 {
			color: white;
			line-height: 4.5rem;
			font-family: $font-roboto;
			font-weight: 300;
		}
		
		.hw-contact-block {
			a {
				text-decoration: none;
				
				&:hover {
					text-decoration: none;
				}
				
				h2 {
					
					// Icon
					span:first-child {
						font-weight: normal;
						color: white;
						border: 2px solid white;
						border-radius: 3rem;
						font-size: 1.5rem;
						padding: 1rem .95rem .85rem 1rem;
						margin-right: 1rem;
					}
					
					// Text block
					span:last-child {
						color: $blue-green-lt;
						font-size: 2rem;
						font-family: $font-lato;
						font-weight: 800;
					}
					
				}
			}
		}
	}
}

.home-offerings {
	margin: 3rem 0 4rem;
	h1 {
		color: $blue;
	}
	
	h3 {
		color: $green;
	}
	
	md-input-container {
		margin-top: 2.5%;
		md-select {
			background-color: $grey-lt;
			width: 33%;
   			margin: auto auto 0 auto;
			border-bottom: 2px solid $grey;
		}
	}
	
	.sales-tile {
		h1 {
			color: white;
		}
	}
}


.home-case-studies {
	background-color: rgba(232, 246, 233, 1);
	padding: 2rem 0;
}


.home-testimonials {
	background: black url('/assets/images/home/testimonials_bg.jpg') top left no-repeat;
	background-size: cover;
	color: white;
}

@media (max-width: 768px) {
	
	.hw-contact-block {
		h2 {
			span:last-child {
				display: none;
			}
		}
	}
	
}

@media(max-width: 660px)
{
	.home-welcome {
		background: transparent url('/assets/images/home/welcome-bg.jpg') top left no-repeat;
		background-size: cover;
		padding-top: 6rem;
		padding-bottom: 6rem;
		
		.hw-inner {
			h4 {
				color: $blue-green-lt;
				font-family: $font-lato;
			}
			
			h2 {
				color: white;
				font-size: 2.25rem;
				line-height: 4.5rem;
				font-family: $font-roboto;
				font-weight: 300;
			}
			
			
		}
	}
	
	.home-offerings {
		
		md-input-container {
			md-select {
				width: 100%;
			}
		}
	}
}